{% load static %}
<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>l'atelier Chazalote</title>
     <link href="https://fonts.googleapis.com/css?family=Codystar|Mali" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <!-- CHOISIR bootstrap ou reset.css -->
    <link rel="stylesheet" href={% static "uikit/dist/css/uikit.min.css" %} />
    <!-- <link rel="stylesheet" href="css/reset.css" /> -->
    <link  href={% static "@chenfengyuan/datepicker/dist/datepicker.min.css" %} rel="stylesheet" />
    <!-- my CSS -->
    <link rel="stylesheet" href={% static 'css/style.css' %} />
    <!-- chome line -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>

<body>
    {% block header %}
    {% endblock %}
    <div class="content">
    {% block main %}

    {% endblock %}
    {% block footer %}
    {% endblock %}
    </div>
    <!-- jquery -->
    <script type="text/javascript" src={% static "jquery/dist/jquery.min.js" %}></script>
    <!-- external script -->
    <script type="text/javascript" src={% static "uikit/dist/js/uikit.min.js" %}></script>
    <!-- my script -->
    <script type="text/javascript" src={% static "js/script.js" %}></script>
    {% block script %}
    {% endblock %}
</body>

</html>
