<nav>
    <ul>
        <div class="menu-bar"><i class="fas fa-bars"></i></div>
        <li><a href={% url "article" "cour-de-couture" %}>cours de couture</a></li>
        <li><a href={% url "article" "costumes-de-scenes" %}>costumes de scènes</a></li>
        <li><a href={% url "article" "creetion-sur-mesures" %}>créetion sur mesures</a></li>
        <li><a href={% url "article" "atelier-de-creetion" %}>atelier de créetion</a></li>
    </ul>
    <a href={% url "article" "qui-suis-je" %}>
        Qui Suis-je?
    </a>
</nav>
