@import "color";
body {
    min-height: 100vh;
    font-family: 'Mali', cursive;
    overflow-x: hidden;
}
h1{
    text-align: center;
    color: $color-primary-0;
    font-family: 'Codystar', cursive;
    background: rgb(32, 32, 32);
    line-height: 1.6em;
    margin: 0 0 1rem 0;
    font-size: 2.8em !important;
    letter-spacing: 0.2em;
    @media (min-width: 600px){
        font-size: 1.2em;
    }
}
@import "welcome-page";
@import "nav";
