@import "color";
html, body {
  position:relative;
  overflow-x:hidden;
  min-height: 100vh;
}

body {
    font-family: 'Mali', cursive;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
h1{
    width: 100vw;
    text-align: center;
    color: $color-primary-0;
    font-family: 'Codystar', cursive;
    background: rgb(32, 32, 32);
    line-height: 1.6em;
    margin: 0 0 1rem 0;
    font-size: 2.8em !important;
    letter-spacing: 0.2em;
    @media (min-width: 600px){
        font-size: 1.2em;
    }
}
@import "welcome-page";
@import "nav";
